@font-face
{
    font-family: CursedTimerUlil-Aznmimport;
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    background: #130d29;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-align: center
    
}

.score {
    background: #000000;
    border: 2px solid white;
    font-size: 100px;
    color: darkorange;
    width: 200px;
    height: 100px;
    margin: 25px;
    font-family: CursedTimerUlil-Aznmimport;
    font-size: 100px;
    border-radius: 8px;
}

.container {
    
    display: flex;
    justify-content: space-around;
}





button {
    background: #130d29;
    color: gray;
    margin-top: 10px;
    border: 2px solid gray;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-family: CursedTimerUlil-Aznmimport;
}

